* {
  box-sizing: border-box;
}

img {
  width: 100%;
}

body {
  font-family: "Lato";
  background-color: #f4f4f4;
  margin-bottom: auto;
}

ul {
  height: 60px;
  display: inline-block;
}

.container {
  background-color: white;
  height: 60px;
}

.nav-left li {
  display: inline-block;
  padding: 5px;
  color: gray;
}

.nav-social li {
  display: inline-block;
  padding: 5px;
  color: gray;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  background-color: rgba(0, 4, 255, 0);
}

.nav-right {
  position: relative;
  top: 0;
  left: 35%;
  padding: 0.5em 0.7em;
}

section {
  position: relative;
    border: solid 1px;
    width: 720px;
}

button {
  display: block;
  border-bottom: solid 2px #ccc;
  margin: 0 auto;
  background-color: #f4f4f4;
}

h1 {
  margin: 0 auto;
  width: 190px;
  padding-bottom: 50px;
  padding-top: 50px;
}

h4 {
  margin: 0 auto;
  width: 305px;
  text-align: center;
}

main {
  width: 50%;
  margin-left: 10%;
  display: inline-block;
}

aside {
  width: 28%;
  margin-right: 10%;
  display: inline-block;
  float: right;
}

h3 {
  text-align: center;
}

p {
  text-align: center;
}

div {
  position: relative;
  margin: 1px auto;
  width: 90%;
}
.margin-bottom {
  margin-bottom: 100px;
}


.box-one {
  text-align: center;
  width: 0 auto;
    border: solid 1px;
}

.box-one li {
  display: inline-block;
  border-radius: 60px;
  box-shadow: 0px 0px 2px #888;
  padding: 0.5em 0.7em;
}
img {

}

.box-two {
    border: solid 1px;
}

.box-three {  border: solid 1px;}

.box-four {  border: solid 1px;}

.final-images {

}

footer {
  position: relative;
  width: 100%;
  height: 100px;
}
p {
  align-items: center;
}
.test {
  position: absolute;
  left: 0;
  bottom: 0;
}

.warm {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
