* {
  box-sizing: border-box;
}

img {
  width: 100%;
}

body {
  font-family: "Lato"
}

ul {
  display: block;
  height: 60px;
}

.nav-left li{
  padding: 5px;
  color: gray;
}
.nav-social li{
    padding: 5px;
    color: gray;

}

a {
  text-decoration: none;
color: black;
}

a:hover {
  background-color: rgba(0, 4, 255, 0)
}

.nav-left, .nav-right {
  display: inline-block;
  height: 20px;
}

.nav-left li, .nav-right li {
  display: inline-block;
  height: 2px;

}
.nav-right{
  position: relative;
  top: 0; left: 35%;

}
h1 {
  margin: 0 auto;
  width:300px;
}
main {
  width: 50%;
  margin: 10%;
  display: inline-block;
}
aside {
  width: 30%;
  display: inline-block;
  float: right;
}

h3 {
  text-align: center;
}

p {
  text-align: center;
}

.nav-social li {
  display: inline-block;
  height: 2px;
  margin: 10px;
}
